        body{
            background-color:lightblue;
            color: darkslategrey;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
        #r1 {
            background-color: darkkhaki;
            height: 110px;
        }
        aside {
            background-color: beige;
            height: 500px;
            width: 20%;
            float: left;
        }
        .logo {
            height: 100px;
            width: 100px;
            float:left;
            padding: 5px;
        }
        .mainsection {
            background-color: #eed9c4;
            min-height: 300px;
            width: 70%;
            float: right;
            padding: 5%;
        }
        aside ul a{
            text-decoration: none;
        }
        /* roger is editing... */
        aside ul li{
            height: 30px;
            color: black;
            background-color:lightgrey;
            text-align: center;
            /*width: 100%; */
            padding-top: 6px;
        }
        aside ul{
            padding: 0;
            list-style-type: none;
            margin: 0px;
        }
        aside ul li:hover {
            background-color: slategray;
            color: snow;
        }
        footer {
            background-color:darkkhaki;
            height: 100px;
            clear: both;
        }
        table{
            text-align: center;
            font-family: Helvetica;
            border: 3px solid black;
            border-collapse: collapse;            
        }
        td,th {
            text-align: right;
            font-family: Consolas;
            border: 2px solid black;
            Padding: 4px;
        }
        .turnover {
            float:left;
        }
        .expenditure {
            float: right;
        }
        h1 {
            font-weight: lighter;
            font-size: 38px;
            text-align: center;
            padding-top: 36px;
            color: navy;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }     
        .navbar {
            display: none;
        }
        .fullname, .emailaddress, textarea{
            font-family: 'Courier New', Courier, monospace;
            width: 240px;
        }
        .fullname {
            margin-left: 55px;
        }
        .emailaddress {
            margin-left: 20px;
        }
        .query {
            margin-left: 47px;
        }
        /* break point 800px or fewer*/
        @media only screen and (max-width: 800px) {
            .navbar {
                display: inline;
                margin: 0px;
                padding: 0px;
            }
            .navbar ul li{
                background-color: lightgrey;
                color:black;
                height: 5vw;
                width: 25%;
                float: left;
                font-size: 3vw;
                padding-top: 1.5vw;
            }
            .navbar ul{
                text-align: center;
                padding:0;
                margin:0;
                list-style-type: none;
            }
            .navbar ul li:hover{
                background-color: slategrey;
                color: snow;
            }
            .logo {
                height: 12vw;
                width: 12vw;
                padding:1vw
            }

            header{
                height:14vw;
            }

            aside{
                display: none;
            }
            .mainsection{
                width: 90%;
            }
            h1{
                padding-top: 3vw;
                font-size: 6vw;
            }
            .container {
                width: 95%;
            }
            .expenditure, .turnover {
                float: none;
            }
        }
         
        @media only screen and (max-width: 500px) {
            header{
                height: 24vw;
            }
            .logo{
                width: 20vw;
                height: 20vw;
                padding: 2vw;
            }

            h1{
                font-size: 8vw;
                padding-top: 3.5vw;
            }
        }